<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>{{  site.skill.programming }}</h3>
          <p>
            {% for language in site.languages %}
            {{ language.line }} <br>
            {% endfor %}
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.skill.framework }}</h3>
          <p>
            {% for framework in site.frameworks %}
            {{ framework.line }}
            {% endfor %}
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.skill.knowledge }}</h3>
          <ul class="list-inline">
            {% for know in site.knowledge %}
            {{ know.line }}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    
   
</section>
